@font-face {
    font-family: 'Sedgwick Ave';
    src: url('../assets//webview/SEDGWICKAVE-REGULAR_0.TTF');
  }
@font-face {
    font-family:'Airbnb Cereal App';
    src: url('../assets//webview/airbnb-cereal-app-cufonfonts/AirbnbCerealBook.ttf');
    font-weight: 400;
}
@font-face {
    font-family:'Airbnb Cereal App';
    src: url('../assets//webview/airbnb-cereal-app-cufonfonts/AirbnbCerealBold.ttf');
    font-weight: 500;
}
@font-face {
    font-family:'Airbnb Cereal App';
    src: url('../assets//webview/airbnb-cereal-app-cufonfonts/AirbnbCerealBlack.ttf');
    font-weight: 800;
}
@font-face {
    font-family:'Airbnb Cereal App';
    src: url('../assets//webview/airbnb-cereal-app-cufonfonts/AirbnbCerealExtraBold.ttf');
    font-weight: 700;
}
@font-face {
    font-family:'Airbnb Cereal App';
    src: url('../assets//webview/airbnb-cereal-app-cufonfonts/AirbnbCerealLight.ttf');
    font-weight: 300;
}
@font-face {
    font-family:'Airbnb Cereal App';
    src: url('../assets//webview/airbnb-cereal-app-cufonfonts/AirbnbCerealMedium.ttf');
    font-weight: 900;
}